[submodule "debian-base-apache"]
	path = debian-base-apache
	url = https://salsa.debian.org/jgoerzen/docker-debian-base-apache.git
	branch = .
[submodule "debian-base-minimal"]
	path = debian-base-minimal
	url = https://salsa.debian.org/jgoerzen/docker-debian-base-minimal.git
	branch = .
[submodule "debian-base-apache-php"]
	path = debian-base-apache-php
	url = https://salsa.debian.org/jgoerzen/docker-debian-base-apache-php.git
	branch = .
[submodule "debian-base-vnc"]
	path = debian-base-vnc
	url = https://salsa.debian.org/jgoerzen/docker-debian-base-vnc.git
	branch = .
[submodule "debian-base-standard"]
	path = debian-base-standard
	url = https://salsa.debian.org/jgoerzen/docker-debian-base-standard.git
	branch = .
[submodule "debian-base-security"]
	path = debian-base-security
	url = https://salsa.debian.org/jgoerzen/docker-debian-base-security.git
	branch = .
